{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Management System | Code by Yash</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <style>
      form .signup-link {
        color: #262626;
        margin-top: 20px;
        text-align: center;
      }
      form .signup-link a {
        color: #4158d0;
        text-decoration: none;
      }
    </style>
    <!-- =========================== this is alertify message link css =========================== -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <!-- =======================================end here =========================================== -->
  </head>
  <body>
    <div class="container">
      <!-- Title section -->
      <div class="title">Registration</div>
      <div class="content">
        <!-- Registration form -->
        <form action="{% url 'register' %}" method="post">
          {% csrf_token %}
          <div class="user-details">
            <!-- Input for Full Name -->
            <div class="input-box">
              <span class="details">Full Name</span>
              {{ form.fullname }}
            </div>
            <!-- Input for Username -->
            <div class="input-box">
              <span class="details">Username</span>
              {{ form.username }}
            </div>
            <!-- Input for Email -->
            <div class="input-box">
              <span class="details">Email</span>
              {{ form.email }}
            </div>
            <!-- Input for Phone Number -->
            <div class="input-box">
              <span class="details">Phone Number</span>
              {{ form.phone }}
            </div>
            <!-- Input for Password -->
            <div class="input-box">
              <span class="details">Password</span>
              {{ form.password }}
            </div>
            <!-- Input for Confirm Password -->
            <div class="input-box">
              <span class="details">Confirm Password</span>
              {{ form.con_password }}
            </div>
          </div>
          <div class="gender-details">
            <!-- Radio buttons for gender selection -->
            <input type="radio" name="gender" id="dot-1" />
            <input type="radio" name="gender" id="dot-2" />
            <input type="radio" name="gender" id="dot-3" />
            <span class="gender-title">Gender</span>
            {{ form.gender }}
            <div class="category">
              <!-- Label for Male -->
              <label for="dot-1">
                <span class="dot one"></span>
                <span class="gender">Male</span>
              </label>
              <!-- Label for Female -->
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="gender">Female</span>
              </label>
              <!-- Label for Prefer not to say -->
              <label for="dot-3">
                <span class="dot three"></span>
                <span class="gender">Prefer not to say</span>
              </label>
            </div>
          </div>
          <!-- Submit button -->
          <div class="button">
            <input type="submit" value="Register" />
          </div>
          <div class="signup-link">
            Already have an account? <a href="{% url 'login' %}">Login now</a>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

  <script type="">
        alertify.set('notifier','position', 'top-right');
        {% for msg in messages %}
            alertify.success('{{ msg }}');
        {% endfor %}
    </script>
</html>
